@media all and (max-width: 1200px) {
    .header__btn{
        width: 45%;
    }
}

@media all and (max-width: 1150px) {
    .header__tittle_left{
        font-size: 65px;
    }

    #vectot{
        right: -16px;
    }

    .portfolio__item{
        width: 30%;


    }
    .portfolio__item > img {
        width: 100%;
    }
    .info-block__tittle{
            font-size: 50%;
    }

    /* .footer__list{
        
    } */

    .header__img{
        width: 100%;
    }
}

@media all and (max-height: 1000px) {
  .header__btn {
    width: 53%;
  }

  #vector_1,
  #vector3 {
    width: 70px;
  }

  #vector_2,
  #vector4 {
    width: 35px;
  }

  #vector_3 {
    bottom: -3px;
    left: auto;
  }

  .services__title_main {
    font-size: 50px;
    width: 65%;
  }

  .info-block__title {
    width: 66%;
  }
}

@media all and (max-width: 850px) {
  .navbar__list {
    width: 50%;
  }
  .navbar__list {
    width: 20%;
  }
  .navbar__logo {
    width: 15%;
  }
  header {
    flex-direction: column;
  }
  .header__block_left {
    width: 80%;
  }

  .header__btn {
    width: 35%;
  }

  .header__block_right {
    width: 80%;
  }

  .services__title_main {
    font-size: 40px;
    margin-top: 70px;
  }

  .portfolio__title {
    font-size: 50px;
  }

  .info-block__title {
    font-size: 40px;
  }
  .info-block__btn {
    width: 21%;
  }

  footer {
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }

  footer__logo {
    width: 15%;
  }

  .footer__list {
    flex-direction: column;
    align-items: center;
  }

  .footer__item {
    margin-bottom: 5px;
    padding: 0;
  }
  .footer__info {
    margin-top: 0;
  }
}

@media all and (max-width: 750px) {
  .navbar__list,
  .navbar__input {
    display: none;
  }
  .navbar__btn_burger {
    display: block;
  }

  .header__title_left {
    font-size: 60px;
  }

  #vector3 {
    left: -35px;
  }

  .info-block {
    flex-direction: column;
    align-items: flex-start;
  }
  .info-block__title {
    width: 69%;
    margin-bottom: 10px;
  }
}

@media all and (max-width: 700px) {
  .services__item {
    width: 40%;
  }
}

@media all and (max-width: 600px) {
  .navbar__logo {
    width: 20%;
  }
  .header__title_left {
    font-size: 46px;
  }

  .header__desc_left {
    font-size: 17px;
  }
  .header__btn {
    width: 45%;
    font-size: 17px;
  }

  .info-block__btn {
    width: 30%;
  }
}

@media all and (max-width: 500px) {
  .header__title_left {
    font-size: 38px;
  }

  .services__title_main {
    font-size: 30px;
  }

  .services__item {
    width: 50%;
  }

  .services__list {
    justify-content: center;
  }

  .portfolio__item:nth-child(1),
  .portfolio__item:nth-child(2) {
    display: none;
  }

  .portfolio__list {
    justify-content: center;
  }
  .protfolio__item {
    width: 85%;
  }

  .portfolio__icon {
    display: none;
  }

  .portfolio__icon_2 {
    display: block;
    width: 90%;
    margin: auto;
  }

  .info-block__title {
    width: 85%;
  }
  .footer__logo {
    width: 30%;
  }
}

@media all and (max-width: 400px) {
  .header__btn {
    width: 60%;
  }

  .services__title_main {
    width: 95%;
  }

  .info-block__btn {
    width: 40%;
  }
  .footer__list {
    width: 50%;
  }
}

@media all and (max-width: 320px) {
  .navbar__logo {
    width: 30%;
  }
  .header__btn {
    width: 80%;
  }

  #vector_2,
  #vector_4 {
    width: 25px;
  }
  #vector_1 {
    left: -14px;
    top: 33px;
  }
  #vector_2 {
    top: 55px;
  }
}
